# ==========================
# General System Files
# ==========================
.DS_Store
.Spotlight-V100
.Trashes
*.ini

# ==========================
# Dataset and Experiment Logs
# ==========================
lightning_logs/
dataset/
experiments/
_cache_*
notebooks/
MNIST/

# ==========================
# Data Files
# ==========================
*.csv
*.xlsx
*.xls
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.rle
*.dib
*.tif
*.tiff
*.raw
*.pdf
*.parquet

# ==========================
# Python Artifacts
# ==========================
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
*.manifest
*.spec
*.mo
*.pot
*.sage.py

# ==========================
# Python Environments
# ==========================
.env
.env.leave
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.envrc
pip-log.txt
pip-delete-this-directory.txt
pip-wheel-metadata/
__pypackages__/

# ==========================
# Build and Distribution
# ==========================
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
.installed.cfg
MANIFEST

# ==========================
# Frameworks and Tools
# ==========================
# Django
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx
docs/_build/

# PyBuilder
target/

# Jupyter and IPython
*.ipynb_checkpoints
profile_default/
ipython_config.py

# pyenv and pipenv
.python-version

# PEP 582
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# ==========================
# Testing and Coverage
# ==========================
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# ==========================
# IDEs and Editors
# ==========================
# Visual Studio Code
.vscode/

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject

# mkdocs
/site

# Pyre type checker
.pyre/
